doctype html
html(lang='en')
  head
    title Expenseview
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='incomeview/images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='incomeview/vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='incomeview/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='incomeview/vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='incomeview/vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='incomeview/vendor/perfect-scrollbar/perfect-scrollbar.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/expenseview/css/util.css')
    link(rel='stylesheet', type='text/css', href='/expenseview/css/main.css')
    // ===============================================================================================
  body
    br
    h1 EXPENSE
    .limiter
      .container-table100
        .wrap-table100
          .table100.ver1.m-b-110
            .table100-head
              - var count = 1;
              table
                thead
                  tr.row100.head
                    th.cell100.column1 Slno
                    th.cell100.column2 AMOUNT
                    th.cell100.column3 DATE
                    th.cell100.column4 CATEGORY
                    th.cell100.column5 METHOD
                    th.cell100.column6 ACTION
                    th.cell100.column6 ACTION
            .table100-body.js-pscroll
              table
                tbody
                if expenselist
                  each item in expenselist
                      tr.row100.body
                          td.cell100.column1= count
                          td.cell100.column2= item.amount
                          td.cell100.column3= item.day+"/"+item.month+"/"+item.year
                          td.cell100.column4= item.category
                          td.cell100.column5= item.method
                          td.cell100.column6
                            a(href='/expenseedit/'+item._id) edit
                          td.cell100.column6 
                            a(href='/expense_delete/'+item._id) delete
                            - count++;
        br
        br
        a(href='/home')
              input(type='submit', name='back', value='BACK HOME')

      // ===============================================================================================
      script(src='incomeview/vendor/jquery/jquery-3.2.1.min.js')
      // ===============================================================================================
      script(src='incomeview/vendor/bootstrap/js/popper.js')
      script(src='incomeview/vendor/bootstrap/js/bootstrap.min.js')
      // ===============================================================================================
      script(src='incomeview/vendor/select2/select2.min.js')
      // ===============================================================================================
      script(src='incomeview/vendor/perfect-scrollbar/perfect-scrollbar.min.js')
      script.
        $('.js-pscroll').each(function(){
        var ps = new PerfectScrollbar(this);
        $(window).on('resize', function(){
        ps.update();
        })
        });
      // ===============================================================================================
      script(src='incomeview/js/main.js')
